*{
    margin: 0;
    padding: 0;
}
.dashboard-layout{
    width: 100%;
    height: auto;
}
.dashboard{
    width: 20%;
    height: 100vh;
    position: fixed;
    background: #3da84c;
    display: block;
    .logo{
        width: 100%;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 65%;
            height: 25vh;
            border-radius: 50%;
            margin-top: 10%;
            border: 3px solid white;
        }
    }
    button{
        width: 85%;
        height: 6.5vh;
        border-radius: 20px;
        margin-top: 7%;
        margin-left: 7.5%;
        border: none;
        font-size: 25px;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
        background: #fff;
        .link{
            text-decoration: none;
        }
        span{
            color: #0f3214;
            font-weight: bold;
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
        }
    }
    button:hover{
        transform: translateY(-2px);
        background: #f0f4ff;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 1);
    }

    .buttondiv{
        width: 100%;
        height: auto;
        button{
            width: 20%;
            height: 8vh;
        }
    }
}
.dashboar-items{

}